# Optional, default: 3000
PORT=""

# Required, PostgreSQL connection URL
# Format: postgres://username:password@hostname/db_name
DATABASE_URL=""

# Optional, default: http://127.0.0.1:5173
CORS_ORIGIN="http://127.0.0.1:5173"