# Optional, default: 3000
PORT="3000"

# Required, PostgreSQL connection URL
# Format: postgres://username:password@hostname/db_name
DATABASE_URL=""

# Optional, default: http://127.0.0.1:5173
CORS_ORIGIN="http://127.0.0.1:5173"

# Optional, base URL of your storage instance
# Default: http://127.0.0.1:<ENV:PORT>/storage
STORAGE_BASE_URL="http://127.0.0.1:3000/storage"